/*---------------------- Global ----------------------*/

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(18, 18, 18);
    margin: 0;
    color: White;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

a {
    outline: 0;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

button::-moz-focus-inner {
    border: 0;
}

button {
    background: none;
    border: none;
    color: rgb(179,179,179);
    cursor:pointer;
}

button:hover {
    color: white;
}

input[type=range] {
    -webkit-appearance: none;
    width: 26rem;
    height: .3rem;
    background:none;
}

input[type=range]::-moz-range-track {
    width: 26rem;
    height: .3rem;
    background: rgb(83,83,83);
    border-radius: 50px;
}

input[type=range]::-moz-range-thumb {
    height: .8rem;
    width: .8rem;
    border: none;
    cursor: default;
}

input[type=range]::-moz-range-progress {
    background: rgb(29,185,84);
    border: 1px solid rgb(29,185,84);
    border-radius: 50px;
}

.icon-size-1 {
    font-size: 1.5rem;
}

.icon-size-2 {
    font-size: 2.25rem;
}

.icon-size-3 {
    font-size: 1.9rem;
}

.icon-size-4 {
    font-size: 1rem;
}

hr {
    color: rgb(40,40,40);
    width: 78%;
    margin: .45rem auto 1rem auto;
}

/*---------------------- Layout ----------------------*/

#main-grid {
    background: rgb(50,50,50);
    display: grid;
    grid-template-columns: 14.4rem auto;
    grid-template-rows: 3.75rem auto 5.6rem;
    width: 100%;
    height: 100%;
}

/*---------------------- Header ----------------------*/

#header {
    background: rgba(18,18,18,1);
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 90;
}

#pagination {
    display: flex;
    align-items: center;
    margin: 0 0 0 1.5rem;
}

#pagination a {
    margin: 0 0.5rem;
    color: rgb(80,80,80);
}

#mejora-tu-cuenta {
    display: flex;/*Without this transform doesn't work*/
    margin-left: auto;
    margin-right: 1rem;
}

.btn-2 {
    background: black;
    color: rgb(225,225,225);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    padding: .6rem 2.2rem;
    letter-spacing: .06rem;
    font-size: .75rem;
}

.btn-2:hover {
    border: 1px solid white;
    -webkit-transform: scale(105%);
            transform: scale(105%);
}

.dropdown {
    position: relative;
    margin-right: 3rem;
}

.dropdown-btn {
    background: rgb(4,4,4);
    border: 1px solid rgb(4,4,4);
    border-radius: 1rem;
    color: rgba(255,255,255);
    padding: .1rem .4rem .1rem .05rem;
    display: flex;
    align-items: center;
}

.dropdown-btn img {
    height: 1.65rem;
    border-radius: 100%;
}

.dropdown-btn span{
    margin-left: .5rem;
    margin-right: .25rem;
    font-weight: bold;
    font-size: .7rem;
}

.dropdown-btn:hover, .dropdown-btn:focus  {
    background: rgb(40,40,40);
    border: 1px solid rgb(40,40,40);
}

.dropdown-menu {
    position: absolute;
    z-index: 99;
    margin-top: .5rem;
    right: .025rem;
    background: rgb(40,40,40);
    border-radius: 2.5%;
    box-shadow: 0 5px 3px 0 black;
    display: none;
}

.dropdown-btn:focus ~ .dropdown-menu {/*When the button is focused, the dropdown shows itself*/
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: .8rem 3.6rem .69rem 1.25rem;
    color: rgb(200,200,200);
    font-weight: 400;
}

.dropdown-menu a span {
    margin-right: 2.5rem;/*"Cerrar sesion" looks horrible without this.*/
}

.dropdown-menu a:last-child {
    border-top: 1px solid rgb(60,60,60);
}

.dropdown-menu a:hover {
    background: rgb(60,60,60);
    color: white;
}

.dropdown-btn:focus .icon-size-4 {/*To rotate the icon in the dropdown-btn*/
    transform: rotate(180deg);
}

/*---------------------- Sidebar ----------------------*/

#sidebar {
    background: rgb(4,4,4);
    grid-column: 1;
    grid-row: 1/3;
    padding: 0 .5rem;
    display: flex;/*I need this for margin-top: auto to work on the last button of the sidebar*/
    flex-direction: column;
}

#logo img {
    height: 3.4rem;
}

#logo {
    margin: 1.05rem 0 1rem 1rem;
}

.btn {
    color: rgb(179,179,179);
    transition: color .4s;
}

.active-bg {
    background: rgb(40,40,40);
    border-radius: 0.25rem;
    color: rgb(255,255,255);
}

#sidebar a {/*Allows to center icons and text of buttons in the sidebar*/
    display: flex;
    align-items: center;
}

#menu-1 a {/*Required padding for the grey background on active buttons*/
    padding: .5rem 0 .5rem 1rem;
}

#instalar-app a {/*Required padding for the grey background on active buttons*/
    padding: .76rem 0rem .76rem 1.35rem;
}

#playlists, #descubrimiento-semanal {
    margin: 1.5rem 0 .7rem 1rem;
    font-weight: 400;
}

#menu-2 a {/*Padding for buttons without grey background*/
    padding: .3rem 0 .3rem 1rem;
}

#descubrimiento-semanal {
    margin: 0 0 0 1rem;
}

#instalar-app {
    margin: auto 0 .1rem 0;
}

.btn-text {/*Some margin between the icons and text of buttons*/
    margin-left: 1.1rem;
}

.btn:hover:not(active) {/*turns text color of buttons white*/
    color: rgb(255,255,255);
    transition: color .4s;
}

.active-no-bg {/*For sidebar buttons without grey background*/
    color: rgb(255,255,255);
}

/*---------------------- Player ----------------------*/

#player {
    background: rgb(40,40,40);
    grid-column: 1/3;
    grid-row: 3;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

/*---------------------- track-controls ----------------------*/

#track-controls div button:nth-child(3) {
    margin: 0 .5rem; 
}

#track-controls div button:first-child,
#track-controls div button:last-child {
    margin: 0 1.25rem; 
}

#track-controls div button:hover {
    color: white;
}

#track-controls div button:active {
    color: rgb(179,179,179);
}

#track-controls div button:nth-child(3):hover {
    transform: scale(105%);
}

#track-controls div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .8rem 0 .6rem 0;
}

/*---------------------- track-info ----------------------*/

#track-info {
    display: flex;
    align-items: center;
}

#track-info > img {
    height: 3.6rem;
    width: 3.6rem;
    margin-left: 1rem;
}

#name-band {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: .4rem;
}

#track-name {
    font-weight: bold;
}

#track-name:hover {
    text-decoration: underline;
}

#band {
    margin-top: .3rem;
    font-size: .7rem;
    font-weight: 100;
}

/*---------------------- miscellaneous-controls ----------------------*/

#miscellaneous-controls {
    display: flex;
    align-items: center;
}

#miscellaneous-controls input {
    width: 5.5rem;
    margin-right: 1rem;
}

#miscellaneous-controls input::-moz-range-track {
    width: 5.5rem;
}

#miscellaneous-controls button:hover {
    color: white;
}

#miscellaneous-controls button:active {
    color: rgb(179,179,179);
}


/*---------------------- Content ----------------------*/

#content {
    background: rgb(18,18,18);
    grid-row: 1/3;
    grid-column: 2/3;
    overflow-y: auto;/*To be able to put multiple rows of cards without stretching the div.*/
    padding-top: 4rem;
}

.section {
    padding-left: 2rem;
    padding-top: .8rem;
    margin-bottom: 1.3rem;
    position: relative;
}

.section-title {
    margin: 0 0 .15rem 0;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}

.section-title:hover {
    text-decoration: underline;
}

.section-description {
    margin: 0;
    font-weight: 400;
    color: rgb(200,200,200);
}

.card-row {
    display: flex;/*To align all the cards in a row, by default, flex puts all items in a row.*/
    margin-top: 1.1rem;
}

.card {
    background: rgb(40,40,40);
    width: 8.8rem;
    height: 13.45rem;
    padding: 1.25rem;
    border-radius: 3.7%;
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
}

.album-cover {
    height: 8.8rem;
    width: 8.85rem;
}

.album-title {
    margin: 1rem 0 0 0;
    font-size: .8rem;
    text-overflow: ellipsis;/*this...*/
    overflow: hidden;/*and this...*/
    white-space: nowrap;/*and this... allows overflowed text to show with ellipsis...Thanks MDN*/
}

.album-description {
    font-weight: 400;
    font-size: .7rem;
}

.card-play-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: rgb(29,185,84);
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    display: none;
    color: white;
}

.card:hover .card-play-button {/*When you hover the card, the play button appears.*/
    display: block;
    cursor: default;
}

.card-play-button:hover {
    transform: scale(105%);
}

.card-play-button:active {
    transform: scale(100%);
}

.ver-mas {
    color: rgb(150,150,150);
    position: absolute;
    top: 1.2rem;
    right: 2rem;
}

.ver-mas:hover {
    text-decoration: underline;
}
